.item {
    display: grid;
    grid-template-columns: 4fr 8fr;
    /*background: #1629db;*/
    /padding: 10px;
    color: white;
}

.userDilogs {
    background: #a80fd2;
    padding: 10px;
}

.userDilogs a {
    color: yellow;
    text-decoration: none;
}

.smsDilogs {
    background: lime;
    color: #0a0203;
    padding: 10px;
}
