.item {
    display: grid;
    grid-template-columns: 4fr 8fr;
    /*background: black;*/
    color: white;
    /*padding: 10px;*/
}
.item img {
    width: 1000px;
    height: 400px;
}

/*.varriors a {*/
/*   color: #fdfdfd;*/
/*   text-decoration: none;*/
/*}*/

.varriors {
    /*grid-area: n;*/
    background: fuchsia;
    padding: 5px;
}

.sms {
    grid-area: c;
    background: #e8670b;
    padding: 5px;
}

.newsCont {
    background: #1629db;
}



